<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ComMapper">
    <select id="selectAllCom" resultMap="selectAllMap">
        select `com_tab`.cid,`com_tab`.cname,sit.sid,sit.sname,`com_tab`.price,ctt.type,`com_tab`.`describe`,`com_tab`.image_path
        from `com_tab` inner join `shop_info_tab` as sit on com_tab.sid = sit.sid
            inner join com_type_tab as ctt on com_tab.ctid = ctt.ctid
        limit 0,10
    </select>
    <select id="selectComByPara" resultMap="selectAllMap">
        select `com_tab`.cid,`com_tab`.cname,sit.sid,sit.sname,`com_tab`.price,ctt.type,`com_tab`.`describe`,`com_tab`.image_path
        from `com_tab` inner join `shop_info_tab` as sit on com_tab.sid = sit.sid
                       inner join com_type_tab as ctt on com_tab.ctid = ctt.ctid
        <where>
            <if test="cid != null and cid != ''">
                and `cid`=#{cid}
            </if>
            <if test="cname != null and cname != ''">
                and `cname` like concat('%',#{cname},'%')
            </if>
            <if test="sid != null and sid != ''">
                and sit.`sid`=#{sid}
            </if>
            <if test="sname != null and sname != ''">
                and sit.`sname`like concat('%',#{sname},'%')
            </if>
            <if test="price != null and price != ''">
                and `price`=#{price}
            </if>
            <if test="type != null and type != ''">
                and ctt.`type` like concat('%',#{type},'%')
            </if>
        </where>
    </select>
    <insert id="insertCom">
        insert into `com_tab`(`cname`,`sid`,`price`,`ctid`,`describe`)
        values(#{cname},#{sid},#{price},#{ctid},#{describe})
    </insert>
    <update id="updateComByCid">
        update `com_tab`
        <set>
            <if test="cname != null and cname !=''">
                `cname`= #{cname}
            </if>
            <if test="sid != null and sid !=''">
                `sid`= #{sid}
            </if>
            <if test="price != null and price !=''">
                `price`= #{price}
            </if>
            <if test="ctid != null and ctid !=''">
                `ctid`= #{ctid}
            </if>
            <if test="describe != null and describe !=''">
                `describe`= #{describe}
            </if>
        </set>
        where `cid`=#{cid}
    </update>
    <delete id="deleteComByCid">
        delete from `com_tab` where cid = #{cid}
    </delete>
    <resultMap id="selectAllMap" type="pojo.Com">
        <result property="cid" column="cid"/>
        <result property="cname" column="cname"/>
        <result property="describe" column="describe"/>
        <result property="imagePath" column="image_path"/>
        <result property="price" column="price" javaType="BigDecimal"/>
        <result property="imagePath" column="image_path"/>
        <association property="shop" javaType="pojo.Shop">
            <result property="sid" column="sid"/>
            <result property="sname" column="sname"/>
        </association>
        <association property="comType" javaType="pojo.ComType">
            <result property="ctid" column="ctid"/>
            <result property="type" column="type"/>
        </association>
    </resultMap>
</mapper>